DISCORD_TOKEN=pon_aqui_el_token_del_bot
CLIENT_ID=pon_aqui_el_application_id
GUILD_ID=pon_aqui_el_id_del_servidor
GUILD_IDS=pon_aqui_el_id_1,pon_aqui_el_id_2,pon_aqui_el_id_3
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/albion_scrim_bot?schema=public"
